body {
  font-family: 'VT323';
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #222;
  justify-content: center;
  align-items: center;
  color: white;
}
h1, h2 {
  text-align: center;
  color: white;
  margin: 0;
}
@media(max-width: 960px) {
  body {
    zoom: 0.5;
  }
}

@media(min-width: 1920px) {
  body {
    zoom: 2;
  }
}

@media(min-width: 2560px) {
  body {
    zoom: 3;
  }
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover, a:active {
  text-decoration: underline;
  color: orangered;
}

a.selected {
  text-decoration: underline;
  color: orangered;
}

pre {
  font-family: 'VT323';
}

.game-content {
  background-color: black;
  position: relative;
}

/*Thanks to Keith Clark
http://codepen.io/keithclark/pen/zqcEd
*/
#space, .stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background: radial-gradient(1px 1px at 20px 30px, #e3ee64, rgba(0, 0, 0, 0)),
  radial-gradient(2px 2px at 40px 70px, #ffffff, rgba(0, 0, 0, 0)),
  radial-gradient(1px 1px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
  radial-gradient(1px 1px at 90px 40px, #b9fdff, rgba(0, 0, 0, 0)),
  radial-gradient(1px 1px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
  radial-gradient(1px 1px at 90px 40px, #e5f6ff, rgba(0, 0, 0, 0)),
  radial-gradient(1px 1px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
  radial-gradient(2px 2px at 90px 40px, #e5ffca, rgba(0, 0, 0, 0)),
  radial-gradient(1px 1px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
  radial-gradient(1px 1px at 160px 120px, #d8ddb5, rgba(0, 0, 0, 0)) repeat;
  background-size: 200px 200px;
  animation: zoom 3s infinite;
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}
.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}
.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}
.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}
.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}
.stars:nth-child(6) {
  background-position: -12% 10%;
  animation-delay: 0s;
}
.stars:nth-child(7) {
  background-position: 25% 80%;
  animation-delay: 1s;
}
.stars:nth-child(8) {
  background-position: -40% 40%;
  animation-delay: 2s;
}
.stars:nth-child(9) {
  background-position: 90% -50%;
  animation-delay: 3s;
}
.stars:nth-child(10) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    transform: scale(2.8);
    animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(3.5);
  }
}

#main {
  /* final aspect ratio 16:10 and resolution 1920x1200 */
  width: 960px;
  height: 600px;
  position: relative;
}

.menu, .howto, .score, .worldSelect {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

h1 {
  flex: 1;
  font-size: 3rem;
}

.menu div {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
  width: 100%
}

.menu img, .worldSelect img {
  width: 60%;
}

.menu input {
  flex: 1;
  padding: 16px;
  margin: 3rem;
  font-size: 48px;
  font-family: inherit;
}

.menu ul {
  flex: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.menu ul li a {
  font-size: 2rem;
}

.worldSelect ul {
  flex: 2;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.worldSelect {

}
.worldSelect ul li {
  flex: 1;
  padding: 16px;
  margin: 16px;
  border: 8px solid cornflowerblue;
}

.worldSelect ul li a {
  font-size: 2rem;
}

.worldSelect ul li.selected a {
  color: orangered;
  text-decoration: underline;
}

.worldSelect ul li.selected {
  background-color: brown;
  color: white;
  animation: box-select 0.5s steps(1) infinite;
}

.worldSelect ul li p {
  flex: 1;
  font-size: 1.8rem;
}

.howto ul, .howto ol, .howto a {
  flex: 1;
}

.howto a {
  font-size: 2rem;
}

.howto {
  color: white;
}

.score h1 {
  flex: 1;
}

.score ul {
  flex: 2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.score ul li {
  list-style: none;
  flex: 1;
}

.score a {
  flex: 1;
  font-size: 2rem;
}

.score .resultScore {
  font-size: 3rem;
  margin: 16px;
}

.score .winner {
  color: orangered;
  animation: winning-score 1s infinite;
  height: 100%;
}

@keyframes winning-score {
  0% {
    font-size: 3rem;
  }

  50% {
    font-size: 4rem;
  }

  100% {
    font-size: 3rem;
  }
}

html {
  font-size: 22px;
}

.game {
  display: flex;
  flex: 1;
  position: absolute;
  height: 100%;
  width: 100%;
}

nav {
  position: absolute;
}

nav li {
  list-style: none;
  float: left;
  margin: 8px;
}

nav ul {
  margin: 0;
}

.game .code {
  flex: 1 1 auto;
  background-color: rgba(0, 16, 16, 0.9);
  padding: 8px;
  display: block;
  overflow: hidden;
}

.game .header {
  flex: 0 0 auto;
}

.game .footer {
  flex: 0 0 auto;
  padding: 8px;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 4rem;
}

.game .player-screen {
  flex: 1;
  flex-direction: column;
  display: flex;
  margin: 16px;
  position: relative;
}

.game .footer .col {
  flex: 1 1 auto;
  font-size: 2rem;
  color: #980004;
  text-align: right;
  padding: 8px;
  position: relative;
}

.game .footer .title {
  color: #fafafa;
  text-transform: uppercase;
  display: block;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
}

.game .footer .counter {
  position: absolute;
  top: 0;
  left: 0;
}

.block-bonus {
  color: #3983e2;
  background-color: rgba(83, 82, 255, 0.35);
}

.block-special-add {
  color: #ffeb09;
  background-color: rgba(255, 251, 3, 0.35);
}

.block-normal {
  color: #22D553;
}

.splatter-container {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}

.splatter {
  top: 30%;
  width: 100%;
  text-align: center;
  position: absolute;
  color: cornflowerblue;
  font-size: 3rem;
  display: none;
}

.splash {
  display: block;
  animation-duration: 1s;
  animation-name: splash-animation;
}

@keyframes splash-animation {
  0% {
    font-size: 2rem;
    opactiy: 0.5;
  }

  100% {
    font-size: 4rem;
    opacity: 0;
  }
}

.countdown {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    text-align: center;
    width: 200px;
    height: 200px;
    z-index: 100;
    font-size: 4rem;
    color: orangered;
}

.timeLeft {
  position: absolute;
  top: 16px;
  left: calc(50% - 100px);
  text-align: center;
  width: 200px;
  z-index: 100;
  font-size: 2rem;
  color: orangered;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bump {
  animation-duration: 0.1s;
  animation-name: bump-animation;
  font-size: 2rem;
  color: orangered;
}

@keyframes bump-animation {
  0% {
    font-size: 2rem;
  }

  50% {
    font-size: 2.1rem;
  }

  100% {
    font-size: 2rem;
  }
}

.finish {
  animation-duration: 0.5s;
  animation-name: finish-animation;
  color: lime;
}

@keyframes finish-animation {
  0% {
    color: orangered;
  }

  50% {
    color: limegreen;
    background-color: lightgray;
  }

  100% {
    color: orangered;
  }
}

@keyframes box-select {
  0% {
    border-color: silver;
  }

  50% {
    border-color: orangered;
  }

  100% {
    border-color: silver;
  }
}
